@import "../../../css/variables.css";

.cardWrapper {
	/* position: relative; */

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	padding: 14px 14px 18px 14px;

	max-width: 299px;
	/* max-height: 112px; */
	height: 108px;

	background-color: var(--background-color-primary);
	border-radius: 8px;
	border: var(--task-item-border);

	font: inherit;

}

.taskDescription {
	align-self: flex-start;

	max-width: 272px;
	/* max-height: 16px;
	height: 16px; */
	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	color: var(--text-color-primary);

	font-family: Inter;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.29; /* 128.571% */
	} 

.cardFooter {
/* position: relative; */
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.infoBox {
	display: flex;
	align-items: flex-end;
	gap: 8px;
}

.infoBoxAvatar {

	width: 32px;
	height: 32px;

	border-radius: 50%;
	border: var(--task-avatar-border);
}

.infoBoxTaskPriority {
	/* text-align: center; */
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px 12px;

	border-radius: 4px;

	color: #F7F6F9;
	
	font-family: Inter;
	font-size: 10px;
	font-weight: 600;
	line-height: 1.2; /* 120% */
}

.low {
	background-color: var(--status-background-first);
}

.medium {
	background-color: var(--status-background-second);
}

.high {
	background-color: var(--status-background-third);
}

@media screen and (min-width: 768px) {
	.cardWrapper {
		
		padding: 14px 14px 18px 14px;

		max-width: 300px;
		/* max-height: 112px; */
		height: 112px;

		background-color: var(--background-color-primary);
		border-radius: 8px;
		border: var(--task-item-border)
	}

	.taskDescription {
	align-self: flex-start;

	max-width: 272px;
	/* max-height: 16px;
	height: 16px; */
	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	color: var(--text-color-primary);
	font-size: 14px;
	font-weight: 500;
	line-height: 1.29; /* 128.571% */


	} 
}