.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 120px 20px 40px 20px;
  background-color: var(--bcg-color-white);
}

.tasks {
  margin-left: 30px;
  color: #343434;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.textChart {
  color: #343434;
  font-family: Inter, sans-serif;
  font-size: 14px;
}
