.container {
  width: 335px;
  height: 470px;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  list-style: none;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid var(--login-register-field-hover);
}

.element {
  position: relative;
  flex-basis: calc((100% - 6px) / 7);
  height: calc((470px - 4px) / 5);

  display: flex;
  align-items: center;

  background-color: var(--background-color-secondary);
}

.elementLink {
  cursor: pointer;
}

.textDays {
  position: absolute;
  right: 10px;
  top: 10px;
}

.textDays[isCurrent='true'] {
  border-radius: 8px;
  background: #3e85f3;
  display: inline-flex;
  padding: 4px 6px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.textTask {
  padding: 6px 10px;
  position: absolute;
  width: calc(100% - 16px);
  white-space: nowrap;
  border-radius: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 700;
}

.textTask[data-priority='low'] {
  background-color: #ceeefd;
  color: #3e85f3;
}
.textTask[data-priority='medium'] {
  background-color: #fcf0d4;
  color: #f3b249;
}
.textTask[data-priority='high'] {
  background-color: #ffd2dd;
  color: #ea3d65;
}

@media screen and (min-width: 768px) {
  .container[data='36'] {
    width: 704px;
    height: 720px;
  }
  .container[data='43'] {
    width: 704px;
    height: 864px;
  }
  .element {
    height: calc((720px - 4px) / 5);
  }
}

@media screen and (min-width: 1440px) {
  .container[data='36'] {
    width: 1087px;
    height: 625px;
  }

  .container[data='43'] {
    width: 1087px;
    height: 900px;
  }

  .element {
    height: calc((625px - 4px) / 5);
  }
}
