.container * {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  border-radius: 8px;
  border: 1px solid var(--login-register-field-hover);
  overflow: hidden;
  background-color: var(--background-color-secondary);
}
.element {
  position: relative;
  padding: 8px;
  min-height: 125px;
  flex-basis: calc(100% / 7);
  display: flex;
  align-items: center;
  border-top: 1px solid #DCE3E5;
  border-left: 1px solid #DCE3E5;
}
.element:nth-child(-n+7) {
  border-top: transparent;
}
.element:nth-child(7n+1) {
  border-left: transparent;
}
.elementLink {
  cursor: pointer;
}
.textDays {
  position: absolute;
  right: 14px;
  top: 14px;
  font-size: 16px;
  font-weight: 700;
  color: var(--add-task-input-text-color);
  padding: 4px 8px;
  border-radius: 8px;
  background: transparent;
  font-family: Inter;
}
.textDays[isсurrent='true'] {
  background: #3e85f3;
  color: #fff;
}
.textTask {
  padding: 6px 10px;
  position: absolute;
  width: calc(100% - 16px);
  white-space: nowrap;
  border-radius: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 700;
}

.textTask[data-priority='low'] {
  background-color: #ceeefd;
  color: #3e85f3;
}
.textTask[data-priority='medium'] {
  background-color: #fcf0d4;
  color: #f3b249;
}
.textTask[data-priority='high'] {
  background-color: #ffd2dd;
  color: #ea3d65;
}
@media (max-width: 1099px) {
  .element {
    min-height: 145px;
  }
}
@media (max-width: 767px) {
  .element {
    min-height: 94px;
  }
  .textDays {
    font-size: 12px;
    right: 8px;
    top: 8px;
  }
}
