@import "../../../css/variables.css";

.buttonAddTask {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;

	padding: 16px 0;
	margin-top: auto;

	/* max-width: 304px; */
	width: 100%;
	max-height: 48px;
	height: 100%;

	border-radius: 8px;
	border: var(--add-task-button-day-border);

	color: var(--add-task-button-day-text-color);
	background-color: var(--add-task-button-day-background);

	font-family: Inter;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.29; /* 128.571% */

	transition: background-color var(--transition-cubic),
							text-shadow var(--transition-cubic),
							-webkit-text-stroke var(--transition-cubic);
}

.buttonAddTask:hover {
	background-color: var(--add-task-button-day-hover-color);
	text-shadow: var(--add-task-button-day-hover-text-shadow);
	-webkit-text-stroke: var(--add-task-button-day-hover-text-stroke);

	cursor: pointer;
}

@media screen and (min-width: 768px) {
	.buttonAddTask {
			max-height: 52px;

	}
}