
@import '../../../css/variables.css';

.tasksColumnWrapper {
	position: relative;
	
	display: flex;
	flex-direction: column;
	/* align-items: flex-start; */
	gap: 18px;

	 max-height: 100%;
  /* overflow: hidden;  */

	flex-shrink: 0;

	width: 335px;
	min-height: 155px;
	padding: 18px 18px 20px 18px;
	
	border-radius: 8px;
	border: var(--task-item-border);
	background-color: var(--background-color-secondary);


}


@media screen and (min-width: 768px) {
	.tasksColumnWrapper {
		padding: 18px 23px 28px 21px;

		width: 344px;
	}
}