@import '../../../css/variables.css';


.optionsBox {	
	position: relative;
	display: flex;
	align-items: flex-end;
	gap: 10px; 
}

.buttonIconOptions {
	display: flex;
	justify-content: space-between;
	
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 50%;

	outline: none;

	fill: var(--button-text-color-tertiary);
	color: var(--button-text-color-tertiary);
	background: none;
	
	font: inherit;		
}

/* .buttonIconOptions:focus */
.buttonIconOptions:hover {
	color: var(--icon-color-primary);

	cursor: pointer;
}



