.container * {
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  padding: 14px 0;
  background: var(--background-color-secondary);
  display: flex;
  flex-basis: auto;
  justify-content: space-around;
  border-radius: 8px;
  width: 100%;
  border: 1px solid var(--login-register-field-hover);
  margin-bottom: 15px;
}

.element {
  background-color: var(--background-color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.textTitle {
  color: var(--feedback-text-secondary);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}

.container li:nth-last-child(-n + 2) .textTitle {
  color: #3E85F3;
}
@media screen and (min-width: 768px) {
  .textTitle {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .textTitle {
    font-size: 0;
  }
  .textTitle::first-letter {
    font-size: 16px;
  }
}

strong.dayItem {
  color: red;
}
/* span.dayItem {
  color: green;
} */