@import '../../css/variables.css';


.avatarContainerLoader {
  overflow: hidden;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  left: -3px;
  right: -3px;
  top: -3px;
  bottom: -3px;
}
.userContainer {
  box-sizing: border-box;
  padding: 59px 18px 0px 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background-color: var(--background-color-secondary);
  border-radius: 16px;
  @media screen and (max-width: 767px) {
    position: relative;
    margin-top: 95px;
  }
  @media screen and (min-width: 768px) {
    padding: 40px;
  }
  @media screen and (min-width: 1440px) {
    padding: 60px;
  }
}

.userForm {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  max-width: 758px;
  @media screen and (min-width: 1440px) {
    flex-direction: column;
  }
  @media screen and (max-width: 767px) {
    max-width: 358px;
    margin: 0 auto;
    justify-content: center;
  }
}
@media (max-width: 1440px) {
  .userForm {
    max-width: 358px;
    margin: 0 auto;
    justify-content: center;
  }
}
.avararLabel,
.avatarInput {
  display: block;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  cursor: pointer;
  z-index: 2;
  position: relative;
  font-size: 0;
  color: var(--feedback-text-primary);
  @media screen and (min-width: 768px) {
    width: 124px;
    height: 124px;
  }
}
.avatarInput {
  opacity: 0;
}
.avatarContainer {
  position: relative;
  cursor: pointer;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  box-sizing: border-box;
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
    width: 124px;
    height: 124px;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 18px;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 20px;
  }
}
.avatarContainer:hover .plusInBorder path {
  stroke: #3E85F3;
}
.avatarContainer:hover .plusInBorder {
  background: #fff;
  border-color: #3E85F3;
}
.avatarImage {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  width: 100%;
  z-index: 1;
  border: 3px solid #3E85F3;
  font-size: 0;
  background-color: var(--background-color-secondary);
}
.plusInBorder {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: #fff;
  border: 2px solid transparent;
  width: 24px;
  height: 24px;
  background-color: #2b78ef;
  border-radius: 50%;
  position: relative;
  z-index: 3;
  transition: all linear 0.3s;
}

.avatarUserName {
  margin-bottom: 4px;
  font-family: 'Inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: calc(18 / 14);
  color: var(--login-register-text-color);
  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 1;
  }
  @media screen and (max-width: 767px) {
    
  }
}

.avatarUserType {
  margin-bottom: 40px;
  color: #343434;
  font-family: 'Inter';
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: calc(14 / 12);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(18 / 14);
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 0;
  }
}

.inputPrimaryWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1441px) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 88px;
  }
}

.inputFirstWrapper {
  max-width: 100%;

  @media screen and (min-width: 768px) {
    max-width: 354px;
  }
}

.inputSecondWrapper {
  max-width: 100%;

  @media screen and (min-width: 768px) {
    max-width: 354px;
  }
}

.userLabel {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  line-height: calc(18 / 14);
  color: var(--feedback-text-primary);
  display: block;
  position: relative;
}
.userLabel div {
  color: red;
  position: absolute;
  bottom: 4px;
  left: 18px;
  white-space: nowrap;
}

.userInput {
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  margin: 8px 0 18px;
  padding: 14px 18px;
  padding-right: 28px;
  border: 1px solid var(--input-border-color-primary);
  border-radius: 8px;
  background: transparent;
  font-style: normal;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: calc(18 / 16);
  color: var(--login-register-text-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
    /* width: 354px; */
    height: 46px;
    font-size: 16px;
    line-height: calc(18 / 16);
  }

  &:focus {
    border: 1px solid var(--input-border-color-secondary);
  }
}
.userInput::placeholder {
  color: var(--login-register-text-color);
}
.submitBtn {
  align-self: center;
  padding: 0;
  width: 195px;
  height: 46px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);
  background: #3e85f3;
  color: #ffffff;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 262px;
    height: 48px;
  }

  &:hover {
    background-color: #2b78ef;
  }
}
.submitBtn[disabled] {
  opacity: 0.6;
}

.avatarContainerLoader {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
svg.avatarImage {
  max-width: 120px;
  width: 100%;
  height: 100%;
  max-height: 120px;
}

@media screen and (min-width: 768px) {
  .plusInBorder {
    top: -28px;
    right: -83px;
  }
}
@media screen and (max-width: 767px) {
  .plusInBorder {
    right: -47px;
    top: -18px;
    transform: scale(0.6);
  }
  .avatarContainer {
    margin-top: -90px;
  }
  .userForm {
    margin-top: 30px;
    padding-bottom: 40px;
  }
  .userInput {
    padding: 12px 14px;
    font-size: 14px;
  }
  .userLabel {
    font-size: 12px;
  }
  svg.avatarImage {
    max-width: 68px;
    width: 100%;
    height: 100%;
    max-height: 68px;
  }
}

