.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 40px;
  align-items: center;
}

.title {
  color: var(--add-task-input-text-color);
  font-family: 'Inter';
  font-size: 32px;
}

.burgerIcon {
  width: 24px;
  height: 24px;
  color: var(--button-text-color-secondary);
}

@media screen and (min-width: 768px){
.burgerIcon{
  width: 34px;
  height: 34px;
}
}

.burgerIcon:active {
  color: var(--background-color-quaternary);
}
.textCalendarHeader {
  color: var(--add-task-input-text-color);
  margin-top: 8px;
  font-weight: 600;
  font-family: 'Inter';
  font-size: 14px;
  line-height: 18px;
}
.textColor {
  color: var(--background-color-quaternary);
}


@media screen and (min-width: 335px) {
  .title {
    display: none;
  }
  .burgerButton {
    background: none;
    border: 0ch;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .calendar {
    display: none;
  }
  .header {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    margin-top: 24px;
  }
}

@media screen and (min-width: 991px) {
  .burgerButton {
    display: none;
  }
  .title {
    display: block;
    color: --main-color-black;
    font-family: 'Inter';
    font-size: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    margin-bottom: 32px;
  }

  .calendar {
    display: flex;
  }
}

.calendarGoose {
  width: 64px;
  height: 60px;
}

.info {
  display: flex;
  align-items: center;
  gap: 8px;
  @media screen and (min-width: 768px) {
    gap: 14px;
  }
}
