.logout__btn{
    display: flex;
    align-items: center;
    border-radius: 16px;
    background-color: var(--button-background-primary);/* #3e85f3);*/
    box-shadow: 4px 2px 16px 0px var(--button-shadow-hover);/* rgba(136, 165, 191, 0.48));*/
 
    padding: 14px 28.5px;
    margin-right: auto;
    margin-bottom: auto;
    min-width: 141px;
    border: none;
    cursor: pointer;

    color:var(--button-text-color-primary);/* #ffffff);*/
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.286;
    letter-spacing: -0.28px;
}

@media screen and (min-width: 768px) {
    .logout__btn {
        font-size: 18px;
        line-height: 1.333;
        letter-spacing: -0.36px;
        padding: 16px 23px;
    }
}

.logout__btn:hover,
.logout__btn:hover{
    background-color: var(--button-background-hover);/* #2b78ef;*/
    box-shadow: 4px 2px 16px 0px var(--button-shadow-hover);/*rgba(136, 165, 191, 0.48));*/
}


.logout__icon{
width: 18px;
height: 18px;
margin-left: 6px;
}

@media screen and (min-width: 768px) {
    .logout__icon {
        width: 20px;
        height: 20px;
        margin-left: 11px;
    }
}

