
.popupContainer {
    position: relative;
    font-family: inherit;
    background-color: var(--background-color-secondary);
    margin: 0 auto;
    width: 396px;
    border-radius: 8px;
    }

.popup{
    padding: 40px 28px;
    
}

@media (max-width: 600px) {
    .popup {
       padding: 40px 18px;
    }
}

body[data-theme='dark'] .popup input{
    border: 1px solid var(--button-border-color);
}
    
.closeButton{
    color: var(--text-color-primary);
    position: absolute;
    top: 14px;
    right: 14px;
    cursor: pointer;
}

.label{
    color: var(--add-task-label-text-color);
        font-size: 12px;
        font-weight: 500;
        line-height: 1.16;
     margin-bottom: 8px;   
}

.inputTitle{
    border: none;
    border-radius: 8px;
    background: var(--add-task-input-background);
    margin-bottom: 18px;
    padding-left: 18px;
    padding-top: 14px;
    padding-bottom: 14px;
    color: var(--add-task-input-text-color);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.28;
}

@media (max-width: 600px) {
    .popupContainer {
        max-width: 303px;
    }
}

.formGroup {
display: flex;
flex-direction: column;
}
.timeInputsContainer{
    display: flex;
    gap: 14px;
    
    margin-bottom: 28px;
}
.timeGroup{
    display: flex;
    flex-direction: column;
    width: calc(100% - 14px);
}


.timeInput {
    position: relative;
    border: none;
    border-radius: 8px;
    background: var(--add-task-input-background);
    
    height: 46px;
    margin: 0;
    padding-left: 18px;
    
    color: var(--add-task-radio-button-label-color);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.28;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    color: var(--text-color-primary);
    display: block;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background: transparent;
}


.radioContainer{
 
 margin-bottom: 32px;
 margin-left: 4px;
}

.radioGroup{
   display: flex;
   gap: 16px;
}

.radioLabel{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: var(--add-task-radio-button-label-color);
    cursor: pointer;
}

.radioIcon{
    display: none;
}

.customIcon{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    box-shadow: none;
    background-color: var(--task-state-low);
}

.customIconMedium{
    background-color: var(--task-state-medium);
    transition: var(--transition-cubic);
}

.customIconHigh{
    background-color: var(--task-state-high);
    transition: var(--transition-cubic);
}

.radioLabel.checked .customIcon{
    outline: 2px solid var(--add-task-radio-button-low-checked-color);
    outline-offset: 2px;
    transition: var(--transition-cubic);
}

.radioLabel.checked .customIconMedium {
    outline: 2px solid var(--add-task-radio-button-middle-checked-color);
    outline-offset: 2px;
}

.radioLabel.checked .customIconHigh {
    outline: 2px solid var(--add-task-radio-button-high-checked-color);
    outline-offset: 2px;
}

.buttonGroup{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.addButton{
    border: none;
    width: 182px;
    height: 48px;
    border-radius: 8px;
    background: var(--add-task-edit-button-background);
    color: var(--add-task-edit-button-text-color);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.28;
    transition: var(--transition-cubic);
    padding-left: 30px;
}

.addButton:hover,
.addButton:focus{
    background: var(--btn-state-hover);
    transition: var(--transition-cubic);
}



.addIcon{
    position: absolute;
    margin-left: 65px;
    content: url(../../images/plus.svg);
    width: 20px;
    height: 20px;
}

@media (max-width: 600px) {
    .addIcon, .editIcon {
        margin-left: 45px;
    }
}

.editIcon {
    position: absolute;
    margin-left: 55px;
    content: url(../../images/pencil-01.svg);
    width: 20px;
    height: 20px;
}

.cancelButton{
    border: none;
    width: 144px;
    height: 48px;
    color:#111;
    border-radius: 8px;
    background: #EFEFEF;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.28;
    transition: var(--transition-cubic);
}

.cancelButton:hover,
.cancelButton:focus {
    background: var(--add-task-cancel-button-hover-color);
    transition: var(--transition-cubic);
}
