.customInput {
    background-color: var(--main-color-blue);
    border: none;
    border-radius: 8px;
    padding: 6px 12px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .fixedHeight{
    height: 280px;
  }

  .calendar{
    background-color: var(--main-color-blue);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 16px;
  }