.picker {
  gap: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Inter', sans-serif;
  width: 100%;
}

@media (max-width: 480px) {
  .picker {
    max-width: 100%;
    width: 100%;
    justify-content: space-between;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--main-color-blue);
  font-weight: 700;
  margin-bottom: 8px;
}

.dropdown {
  gap: 4px;
  display: flex;
  background-color: var(--main-color-blue);
  font-weight: 700;
  align-items: center;
}

select {
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  border: none;
  color: #fff;
  background-color: var(--main-color-blue);
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

select:focus-visible {
  outline-width: 0;
}

.button {
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: var(--main-color-blue);
}

.today {
  text-align: center;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
}

.customInput {
  background-color: var(--main-color-blue);
  border: none;
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  min-width: 170px;
}

@media screen and (min-width: 768px) {
  .customInput {
    font-size: 16px;
    line-height: 1.125;
    padding: 8px 12px;
  }
}

.calendar {
  background-color: var(--main-color-blue);
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  border: none;
}

.month {
  display: flex;
  margin: 4px;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color-blue);
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  height: 36px;
}

.day {
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color-blue);
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  height: 24px;
}


div[tabindex='0'] {
  background-color: var(--main-color-blue);
}

div[tabindex='0']:hover {
  background-color: var(--main-color-blue);
}

div[tabindex='0'] > .month {
  border-radius: 18px;
  background-color: #fff;
  color: var(--main-color-blue);
}

div[tabindex='0'] > .day {
  border-radius: 18px;
  background-color: #fff;
  color: var(--main-color-blue);
}

div[tabindex='-1'] {
  background-color: var(--main-color-blue);
}

div[tabindex='-1']:hover {
  background-color: var(--main-color-blue);
}

div[tabindex='-1'] > .month:hover {
  border-radius: 18px;
  background-color: #fff;
  color: var(--main-color-blue);
}

div[tabindex='-1'] > .day:hover {
  border-radius: 18px;
  background-color: #fff;
  color: var(--main-color-blue);
}

