.container {
  background-color: var(--main-color-blue);
  width: 100%;
}

.content {
  diplay: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 250px 58px;
}

.gooseImage {
  width: 142px;
  margin: 0 auto;
}

.title {
  color: var(--bcg-color-white);
  font-family: Inter, sans-serif;
  font-size: 44px;
  margin-bottom: 32px;
  margin: 0 auto;
  text-align: center;
}

.titleItalic {
  font-style: italic;
}

.contentButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  margin-top: 32px;
}

.buttonWhite {
  display: inline-block;
  background-color: var(--bcg-color-white);
  padding: 14px 32px;
  border-radius: 16px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  color: var(--main-color-blue);
  font-weight: 600;
}

.arrowIcon{
    fill: var(--main-color-blue);
}

.textWhite {
  font-family: Inter, sans-serif;
  font-size: 14px;
  color: var(--bcg-color-white);
  font-weight: 600;
  text-decoration: underline;
}

/*style from 768px*/
@media screen and (min-width: 768px) {
  .content {
    padding: 330px 92px;
  }

  .title {
    font-size: 100px;
    margin-bottom: 40px;
  }

  .contentButtons {
    flex-direction: row-reverse;
    justify-content: center;
    gap: 24px;
  }

  .buttonWhite {
    font-size: 14px;
    padding: 15.5px 28.5px;
  }
}

/*style from 1440px*/
@media screen and (min-width: 1440px) {
  .content {
    padding: 187px 370px;
  }
  .title {
    font-size: 120px;
    margin-bottom: 40px;
  }
}
