
@import '../../../css/variables.css';

.temporaryStub { /*REMOVE!!!!!!*/
	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 16px;

max-width: 1087px;
	/* min-width: 355px; */
	width: 100%;
	min-height: 134px;
	/* height: 100%; */

	outline: 2px solid red;

		font-size: 48px;
		font-weight: 600;
}

.tasksColumnsList  {
	outline: 1px solid red;


	display: flex;
	gap: 27px;
	/* justify-content: space-between; */
	height: 100dvh;
	min-width: 100%;

	border-radius: 8px;;

	overflow-x: scroll;

	background-color: var(--background-color-primary);

	transition: height 0.2 linear;
}

@media screen and (min-width: 1024px) {
	.tasksColumnsList {
		overflow-x: auto;
	}

}


