.container {
  margin: 40px auto 64px;
  padding: 0 20px;
}
.container * {
  box-sizing: border-box;
}
.slideContainer {
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  padding: 32px;
  max-width: 580px;
  width: 100%;
}

.slideAuthor {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  color: #343434;
}

.authorDetails {
  padding-left: 18px;
}
.authorDetails h3 {
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 1;
}

.picture {
  width: 50px;
  height: 50px;
  flex: 0 0 50px;
  background-color: #eaeaea;
  border-radius: 50%;
}

.mainText {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #595959;
  min-height: 54px;
}

.titleH2 {
  color: var(--main-color-blue);
  text-align: center;
  text-transform: uppercase;
  font-family: Inter, sans-serif;
  font-size: 28px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .titleH2 {
    font-size: 40px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    padding: 0 20px;
    margin: 50px auto 118px;
    max-width: 1184px;
    width: 100%;
  }
}
.swipperArrows {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}
.swipperArrows svg {
  cursor: pointer;
  transition: all ease 0.3s;
}
.swipperArrows svg:hover path {
  fill: #3E85F3;
}
.swiper-button-disabled {
  opacity: 0.6;
}
.swipperArrows svg:first-child {
  margin-right: 22px;
}
@media (max-width: 1023px) {
  .slideContainer {
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .slideContainer {
    padding: 24px;
  }
  .mainText {
    margin-left: -68px;
  }
}
