.pageWrapper {
  width: 335px;
  height: 534px;
  /* min-height: 80vh; */
  /* outline: 1px solid red;*/

  margin: 0 0 8px 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  /* justify-content:center; */
  /* align-items: center; */
  /* gap: 10px; */

  border-radius: 16px;
  /* background-color: var(--login-register-field-hover); */

}

@media screen and (min-width: 768px) {
  .pageWrapper {
    width: 704px;
    height: calc(720px + 5px + 46px);
  }
}

@media screen and (min-width: 1440px) {
  .pageWrapper {
    width: 1087px;
    /* height: calc(625px + 5px + 46px); */
    /* height: calc(568px + 16px + 48px + 42px + 34px); */
    /* min-height: 80vh;
    outline: 1px solid red */
  }
}
