.container{
   /* position: fixed;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;*/
    position: relative; /*for button*/
    z-index: 999;
    background-color: lightcyan;
    padding: 24px 20px;
    height: 100%;
    max-width: 225px;
    width: 100%;
    /* transform: translateX(-100%); має з`явитись по кліку на бургер меню*/
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 289px;
        padding: 24px 32px;
    }
}

@media screen and (min-width: 1439px) {
    .container {
        padding: 24px;
    }
}

.close__btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    right: 20px;
    top: 29.5px;
    padding: 0;
    background-color: #fff; /* var(--btn-close-color);*/
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .close__btn {
        right: 32px;
        top: 36px;        
    }
}

@media screen and (min-width: 1440px) {
    .close__btn {
        display: none;
    }
}

.close__icon {
    width: 24px;
    height: 24px;
    background-color: #fff; /* var(--sidebar-background);*/
    color: #13151a; /* var(--icon-close-color);*/
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close__icon:hover {
    color: #3e85f3; /*var(--main-blue-color);*/
}

.aside__title {
    font-family: Inter;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 24px;
    color: rgba(52, 52, 52, 0.50);
}

@media screen and (min-width: 768px) {
    .aside__title {
    font-size: 14px;
    margin-bottom: 32px;
    }
}