:root {
    /*main colors*/
    --main-color-black: #13151a;
    --main-color-blue: #3e85f3;
  
    /*background - light theme*/
    --bcg-color-white: #ffffff;
    --bcg-color-light-grey: #f7f6f9;
    --bcg-color-blue: #dcebf7;
  
    /*background - dark theme*/
    --bcg-color-dark-grey: #21222C;
  
     /*gradients*/
     --gradient-pink: linear-gradient(to top, rgba(255, 210, 221, 1), rgba(255, 210, 221, 0));
     --gradient-pink: linear-gradient(to top, rgba(62, 133, 243, 1), rgba(62, 133, 243, 0));
  
     /*Fonts*/
     --text-main-title: #171820;
     --text-main-text: #111111;
     --text-main-sidebar-light: #999999;
     --text-main-sidebar-dark: #585A5D;
  
     /*Inputs*/
     --input-state-error: #E74A3B;
     --input-state-success: #3CBC81;
  
     /*Badges*/
     --task-state-low: #72C2F8;
     --task-state-medium: #F3B249;
     --task-state-high: #EA3D65;
  
     /*Button*/
     --btn-state-hover: #2B78EF;
  
     /*Tabs - Light Theme*/
     --tab-default-light: #E3F3FF;
     --tab-active-light: #CAE8FF;
  }