@import '../../../css/variables.css';

.userInfoWrapper {
  display: flex;
  align-items: center;
  gap: 8px;

  @media screen and (min-width: 768px) {
    gap: 14px;
  }
}

.userName {
  color: var(--text-color-secondary);
  font-family: 'Inter Bold';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}
.userAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: var(--text-color-secondary);
  background-color: var(--background-color-quaternary);
  font-family: 'Inter Bold';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;

  @media screen and (min-width: 768px) {
    width: 44px;
    height: 44px;
    font-size: 18px;
  }
}

.userAvatarImg {
  width: 32px;
  height: 32px;
  border: 1.8px solid var(--background-color-quaternary);
  border-radius: 50%;
  object-fit: cover;
  @media screen and (min-width: 768px) {
    width: 44px;
    height: 44px;
  }
}
