@import '/src/css/variables.css';


.navigation {
    display: flex;
}
.periodBtnLeft,
.periodBtnRight {
    text-align: center;
    display: block;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.286;
    cursor: pointer;
    color: var(--toggle-month-day-text-color-second);/* #3E85F3;*/
    background-color: var(--toggle-month-day-background-second);/* #E3F3FF;*/
}

@media screen and (min-width: 768px) {
    .periodBtnLeft,
    .periodBtnRight {
        font-size: 16px;
        font-style: normal;
        line-height: 1.125;
    }
}

.periodBtnRight{
padding: 8px 25px;
border-radius: 0px 8px 8px 0px;
}

@media screen and (min-width: 768px) {
    .periodBtnRight {
     padding: 8px 26px;
    }
}

.periodBtnLeft{
padding: 8px 16px;
border-radius: 8px 0px 0px 8px;
border-right: 1px solid rgba(62, 133, 243, 0.20);
}

.periodBtnLeft:hover,
.periodBtnRight:hover,
.active{
background-color: var(--toggle-month-day-background-first);/* #CAE8FF;*/
color: var(--toggle-month-day-text-color-first);
}

@media (max-width: 480px) {
    .navigation {
      margin-top: 18px;
    }
  }


