.error {
  color: #e74a3b;
}

.success {
  color: #3cbc81;

  /* margin-left: auto; */
}

.form_input.error {
  border: 1px solid #e74a3b;
}

.form_input.success {
  border: 1px solid #3cbc81;
}
.successIcon_ss {
  position: absolute;
  right: 18px;
  bottom: 368px;
  width: 24px;
}
@media screen and (min-width: 768px) {
  .successIcon_ss {
    bottom: 401px;
  }
}
@media screen and (min-width: 1440px) {
  .successIcon_ss {
    bottom: 396px;
  }
}
.errorIcon_er {
  position: absolute;
  right: 18px;
  bottom: 367px;
  width: 24px;
}
@media screen and (min-width: 768px) {
  .errorIcon_er {
    bottom: 401px;
  }
}
@media screen and (min-width: 1440px) {
  .errorIcon_er {
    bottom: 396px;
  }
}
.successIcon {
  position: absolute;
  right: 18px;
  bottom: 254px;
  width: 24px;
}
@media screen and (min-width: 768px) {
  .successIcon {
    bottom: 273px;
  }
}
@media screen and (min-width: 1440px) {
  .successIcon {
    bottom: 269px;
  }
}
.errorIcon {
  position: absolute;
  right: 18px;
  bottom: 254px;
  width: 24px;
}
@media screen and (min-width: 768px) {
  .errorIcon {
    bottom: 273px;
  }
}
@media screen and (min-width: 1440px) {
  .errorIcon {
    bottom: 269px;
  }
}
.successIconn {
  position: absolute;
  right: 18px;
  bottom: 138px;
  width: 24px;
}
@media screen and (min-width: 768px) {
  .successIconn {
    bottom: 143px;
  }
}
@media screen and (min-width: 1440px) {
  .successIconn {
    bottom: 142px;
  }
}
.errorIconn {
  position: absolute;
  right: 18px;
  bottom: 138px;
  width: 24px;
}
@media screen and (min-width: 768px) {
  .errorIconn {
    bottom: 146px;
  }
}
@media screen and (min-width: 1440px) {
  .errorIconn {
    bottom: 142px;
  }
}

.div_container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bcg-color-blue);
}

.div_container_flex {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 100%;
}
.div_container_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}
.div_container_formik {
  width: 230px;
  padding: 24px;
  gap: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 8px;
  background: var(--bcg-color-white);
}
@media screen and (min-width: 375px) {
  .div_container_formik {
    width: 287px;
  }
}
@media screen and (min-width: 768px) {
  .div_container_formik {
    width: 400px;
    gap: 40px;
    padding: 40px;
  }
}

.logo_goose {
  display: none;
  position: absolute;
  width: 400px;
  bottom: 0px;
  left: -5%;
}
@media screen and (min-width: 1440px) {
  .logo_goose {
    display: block;
  }
}

.title {
  color: var(--main-color-blue);
  text-shadow: 0px 9.399999618530273px 57.6875px rgba(0, 0, 0, 0.04),
    0px 47px 355px rgba(0, 0, 0, 0.07);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
  }
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form_div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.form_label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  color: var(--text-main-text);
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .form_label {
    font-size: 14px;
  }
}

.form_label_tw {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  color: var(--text-main-text);
  font-size: 12px;
  line-height: normal;

  font-weight: 400;
  line-height: 18px;
}
@media screen and (min-width: 768px) {
  .form_label_tw {
    font-size: 14px;
    font-weight: 600;
  }
}

.form_input_div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* .form_input_email {
  margin-bottom: 8px;
} */
.form_input {
  position: relative;
  font-family: inherit;
  width: 100%;
  padding: 14px 0px 14px 14px;
  color: var(--text-main-text);
  font-weight: 400;
  line-height: 18px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  border-radius: 8px;
  border: 1px solid rgba(220, 227, 229, 0.6);
  background: var(--bcg-color-white);
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .form_input {
    padding: 18px 18px;
    font-size: 16px;
  }
}

.button {
  margin-top: 48px;
  display: flex;
  width: 100%;
  padding: 16px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 16px;
  background: var(--main-color-blue);
  box-shadow: rgba(136, 165, 191, 0.48) 4px 2px 16px;
  color: var(--bcg-color-white);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.28px;
  border: none;
  cursor: pointer;
  font-family: Inter;
}
@media screen and (min-width: 768px) {
  .button {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .button {
    line-height: 24px;
    letter-spacing: -0.36px;
  }
}

.google {
  display: flex;
  width: 100%;
  padding: 16px 0px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  border: 1px solid rgb(220, 227, 229);
  background: var(--bcg-color-white);
  box-shadow: rgba(136, 165, 191, 0.48) 4px 2px 16px;
  color: var(--text-main-text);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.28px;
}
@media screen and (min-width: 375px) {
  .google {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .google {
    font-size: 18px;
  }
}
.register {
  margin-top: 18px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .register {
    margin-top: 24px;
  }
}
