@import "../../../css/variables.css";

.columnTasksList {
	display: flex;
	flex-direction: column;
	gap: 18px;

	/* height:500px; */
	/* max-height:500px; */
	height: 100%;
	outline: 1px solid green;

	border-radius: 8px;



	/* overflow-y: scroll; */
	 overflow-y: auto;
}
