@import "../../../css/variables.css";

.columnTasksList {
	display: flex;
	flex-direction: column;
	height: 100%;
	border-radius: 8px;
	padding-right: 6px;

	/* overflow-y: scroll; */
	overflow-y: auto;
}

.columnTasksList::-webkit-scrollbar {
	width: 6px;
	/* height: 6px; */
	border-radius: 12px;
	background: var(--vertical-scrollbar-track-color);
}

.columnTasksList::-webkit-scrollbar-track {
	border-radius: 12px;
}

.columnTasksList::-webkit-scrollbar-thumb {
	width: 6px;
	background-color: var(--vertical-scrollbar-thumb-color);
	border-radius: 12px;
}

@media screen and (min-width: 768px) {
	.columnTasksList::-webkit-scrollbar {
		width: 8px;
		/* height: 6px; */
		border-radius: 12px;
		background: var(--vertical-scrollbar-track-color);
	}

	.columnTasksList::-webkit-scrollbar-track {
		border-radius: 12px;
	}

	.columnTasksList::-webkit-scrollbar-thumb {
		width: 8px;
		background-color: var(--vertical-scrollbar-thumb-color);
		border-radius: 12px;
	}
}