/* @import-normalize; bring in normalize.css styles */
@import './css/color';
@import './fonts/fonts';

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: inherit;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: thin;          /* "auto" или "thin" */
  scrollbar-color: #E7E5E5 #E7E5E5;   /* цвет бегунка и зоны отслеживания */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark {
  color: var(--main-color-blue);
  background-color: var(--bcg-color-dark-grey);
}
/*  SCROLL   */
body::-webkit-scrollbar {
  width: 10px;               /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
  background: #F2F2F2;      /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
  background: #E7E5E5;;    /* цвет бегунка */
  border-radius: 12px;       /* округлось бегунка */
  border: 3px solid #E7E5E5;  /* отступ вокруг бегунка */
}