.pageWrapper {
  padding: 0 20px 95px 20px;

  @media screen and (min-width: 768px) {
    padding: 0 32px 64px 32px;
  }

  @media screen and (min-width: 1440px) {
    padding: 0 32px 32px 32px;
  }
}
