@import '../../css/variables.css'; 

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    height: 100vh;
    background-color: var(--background-color-primary);/* #F7F6F9;*/
}

@media screen and (min-width: 375px) {
    .container {
        width: 252px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 503px;
    }
}

.background{
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    background-color:var(--background-color-primary); /* #F7F6F9;*/
}

.not__found__box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    align-items: center;
    height: 150px;   
}


@media screen and (min-width: 768px) {
    .not__found__box {
        height: 250px;
    }
}

.image__rocket {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../images/mobileImages/notFound/not_found_mob1x.png');
    width: 166px;
    height: 180px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .image__rocket {
        background-image: url("../../images/mobileImages/notFound/not_found_mob2x.png");
    }
}

@media screen and (min-width: 768px) {
    .image__rocket {
        background-image: url('../../images/desktopImages/notFound/not_found1x.png');
        width: 368px;
        height: 414px;
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .image__rocket {
        background-image: url("../../images/desktopImages/notFound/not_found2x.png");
    }
}

.title__number {
    font-family: Inter;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.5;
    color: #3E85F3;
    text-shadow: 0px 9.399999618530273px 57.6875px rgba(0, 0, 0, 0.04), 0px 47px 355px rgba(0, 0, 0, 0.07);
}

@media screen and (min-width: 768px) {
    .title__number {
        font-size: 200px;
        line-height: 1.25%;
    }
}

.text {
    font-family: Inter;
    font-weight: 500;
    margin-top: 28px;
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 1.286;
    color:var(--text-color-404);/* rgba(17, 17, 17, 0.70);*/
}

@media screen and (min-width: 768px) {
    .text {
        margin-top: 80px;
        margin-bottom: 32px;
    }
}

.back__button {
    display: inline-block;
    max-width: 153px;
    margin-right: auto;
    margin-left: auto;
    padding: 14px 32px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.286;
    letter-spacing: -0.28px;
    border-radius: 16px;
    box-shadow: 4px 2px 16px 0px rgba(136, 165, 191, 0.48);
    border: none;
    background-color: var(--button-background-primary); /*#3E85F3;*/
    color: var(--button-text-color-primary); /*#ffffff*/
    transition: background-color 250ms var(--transition-cubic); /*cubic-bezier(0.4, 0, 0.2, 1);*/
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .back__button {
        max-width: 211px;
        padding: 16px 48px;
        font-size: 18px;
        line-height: 1.333;
        letter-spacing: -0.36px;
    }
}

.back__button:hover,
.back__button:focus {
    background-color: var(--btn-state-hover);
}




